body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1292px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:751px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:21px;
  width:1280px;
  height:751px;
}
#u2527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:337px;
  width:83px;
  height:28px;
  font-size:12px;
}
#u2528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:159px;
  width:105px;
  height:22px;
  font-size:18px;
}
#u2529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:475px;
  width:189px;
  height:16px;
}
#u2530_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u2530_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(15, 83, 163, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:535px;
  width:368px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u2531_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:663px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:89px;
  width:635px;
  height:663px;
}
#u2533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:328px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:99px;
  width:622px;
  height:328px;
}
#u2534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:206px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:441px;
  width:534px;
  height:206px;
}
#u2535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(15, 83, 163, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:673px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u2536_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:21px;
  width:1280px;
  height:65px;
}
#u2538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:28px;
  width:148px;
  height:49px;
}
#u2539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:48px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:330px;
  width:262px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2542_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2542.selected {
}
#u2542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:335px;
  width:227px;
  height:30px;
}
#u2543_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:399px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2545_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2545.selected {
}
#u2545_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:404px;
  width:312px;
  height:30px;
}
#u2546_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:409px;
  width:19px;
  height:19px;
}
#u2547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:259px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2549_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u2549.selected {
}
#u2549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:264px;
  width:312px;
  height:30px;
}
#u2550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:269px;
  width:21px;
  height:21px;
}
#u2551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:341px;
  width:19px;
  height:19px;
}
#u2552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
