body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:751px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:36px;
  width:1280px;
  height:751px;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:36px;
  width:1280px;
  height:65px;
}
#u1584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:43px;
  width:148px;
  height:49px;
}
#u1585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:164px;
  width:817px;
  height:587px;
  color:#FF0000;
}
#u1586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:178px;
  width:57px;
  height:16px;
}
#u1587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:2px;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:207px;
  width:817px;
  height:1px;
}
#u1588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:178px;
  width:22px;
  height:22px;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:618px;
  width:61px;
  height:27px;
  font-size:12px;
}
#u1591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:618px;
  width:29px;
  height:27px;
  color:#FFFFFF;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:618px;
  width:61px;
  height:27px;
  font-size:12px;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:624px;
  width:51px;
  height:16px;
  color:#999999;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:624px;
  width:43px;
  height:16px;
  color:#999999;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:621px;
  width:27px;
  height:23px;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  word-wrap:break-word;
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:624px;
  width:15px;
  height:16px;
  color:#999999;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:622px;
  width:59px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u1599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:64px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u1599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:228px;
  width:773px;
  height:299px;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
  font-size:14px;
}
#u1601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:42px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:121px;
  height:42px;
  font-size:14px;
}
#u1602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:42px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:178px;
  height:42px;
  font-size:14px;
}
#u1603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:135px;
  height:42px;
  font-size:14px;
}
#u1604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:131px;
  word-wrap:break-word;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:203px;
  height:42px;
  font-size:14px;
}
#u1605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:199px;
  word-wrap:break-word;
}
#u1606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:42px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:42px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:42px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:42px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:136px;
  height:30px;
  font-size:14px;
}
#u1611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:78px;
  width:121px;
  height:30px;
  font-size:14px;
}
#u1612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:78px;
  width:178px;
  height:30px;
  font-size:14px;
}
#u1613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:78px;
  width:135px;
  height:30px;
  font-size:14px;
}
#u1614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:78px;
  width:203px;
  height:30px;
  font-size:14px;
}
#u1615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:136px;
  height:37px;
  font-size:14px;
}
#u1616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:108px;
  width:121px;
  height:37px;
  font-size:14px;
}
#u1617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:108px;
  width:178px;
  height:37px;
  font-size:14px;
}
#u1618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:108px;
  width:135px;
  height:37px;
  font-size:14px;
}
#u1619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:108px;
  width:203px;
  height:37px;
  font-size:14px;
}
#u1620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:145px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:145px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:145px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:145px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:181px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:181px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:181px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:181px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:217px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:217px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:217px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:217px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:253px;
  width:136px;
  height:46px;
  font-size:14px;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:132px;
  word-wrap:break-word;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:253px;
  width:121px;
  height:46px;
  font-size:14px;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:46px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:253px;
  width:178px;
  height:46px;
  font-size:14px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u1639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:253px;
  width:135px;
  height:46px;
  font-size:14px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  word-wrap:break-word;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:253px;
  width:203px;
  height:46px;
  font-size:14px;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
