body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:751px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:36px;
  width:1280px;
  height:751px;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:36px;
  width:1280px;
  height:65px;
}
#u1331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:43px;
  width:148px;
  height:49px;
}
#u1332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:164px;
  width:817px;
  height:587px;
  color:#FF0000;
}
#u1333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:178px;
  width:57px;
  height:16px;
}
#u1334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:2px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:207px;
  width:817px;
  height:1px;
}
#u1335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:178px;
  width:22px;
  height:22px;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:618px;
  width:61px;
  height:27px;
  font-size:12px;
}
#u1338_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:618px;
  width:29px;
  height:27px;
  color:#FFFFFF;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u1340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:618px;
  width:61px;
  height:27px;
  font-size:12px;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:624px;
  width:51px;
  height:16px;
  color:#999999;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:624px;
  width:43px;
  height:16px;
  color:#999999;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:621px;
  width:27px;
  height:23px;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  word-wrap:break-word;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:624px;
  width:15px;
  height:16px;
  color:#999999;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:622px;
  width:59px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:64px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:228px;
  width:773px;
  height:299px;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
  font-size:14px;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:42px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:121px;
  height:42px;
  font-size:14px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:42px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:178px;
  height:42px;
  font-size:14px;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:135px;
  height:42px;
  font-size:14px;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:131px;
  word-wrap:break-word;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:203px;
  height:42px;
  font-size:14px;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:199px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:42px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:42px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:42px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:42px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:136px;
  height:30px;
  font-size:14px;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:78px;
  width:121px;
  height:30px;
  font-size:14px;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:78px;
  width:178px;
  height:30px;
  font-size:14px;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:78px;
  width:135px;
  height:30px;
  font-size:14px;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:78px;
  width:203px;
  height:30px;
  font-size:14px;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:136px;
  height:37px;
  font-size:14px;
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:108px;
  width:121px;
  height:37px;
  font-size:14px;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:108px;
  width:178px;
  height:37px;
  font-size:14px;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:108px;
  width:135px;
  height:37px;
  font-size:14px;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:108px;
  width:203px;
  height:37px;
  font-size:14px;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:145px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:145px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:145px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:145px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:181px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:181px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:181px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:181px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:217px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:217px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:217px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:217px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:253px;
  width:136px;
  height:46px;
  font-size:14px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:132px;
  word-wrap:break-word;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:253px;
  width:121px;
  height:46px;
  font-size:14px;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:46px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:253px;
  width:178px;
  height:46px;
  font-size:14px;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:253px;
  width:135px;
  height:46px;
  font-size:14px;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:253px;
  width:203px;
  height:46px;
  font-size:14px;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
