body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:751px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:36px;
  width:1280px;
  height:751px;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:36px;
  width:1280px;
  height:65px;
}
#u1626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:43px;
  width:148px;
  height:49px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:164px;
  width:817px;
  height:587px;
  color:#FF0000;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:178px;
  width:57px;
  height:16px;
}
#u1629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:2px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:207px;
  width:817px;
  height:1px;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:178px;
  width:22px;
  height:22px;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:618px;
  width:61px;
  height:27px;
  font-size:12px;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:618px;
  width:29px;
  height:27px;
  color:#FFFFFF;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u1635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:618px;
  width:61px;
  height:27px;
  font-size:12px;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:624px;
  width:51px;
  height:16px;
  color:#999999;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:624px;
  width:43px;
  height:16px;
  color:#999999;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:621px;
  width:27px;
  height:23px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  word-wrap:break-word;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:624px;
  width:15px;
  height:16px;
  color:#999999;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:622px;
  width:59px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u1641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:64px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:228px;
  width:773px;
  height:299px;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
  font-size:14px;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:42px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:121px;
  height:42px;
  font-size:14px;
}
#u1644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:42px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:178px;
  height:42px;
  font-size:14px;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:42px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:135px;
  height:42px;
  font-size:14px;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:131px;
  word-wrap:break-word;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:203px;
  height:42px;
  font-size:14px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:199px;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:42px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:42px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:42px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:42px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:136px;
  height:30px;
  font-size:14px;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:78px;
  width:121px;
  height:30px;
  font-size:14px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:78px;
  width:178px;
  height:30px;
  font-size:14px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:78px;
  width:135px;
  height:30px;
  font-size:14px;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:78px;
  width:203px;
  height:30px;
  font-size:14px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:136px;
  height:37px;
  font-size:14px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:108px;
  width:121px;
  height:37px;
  font-size:14px;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:108px;
  width:178px;
  height:37px;
  font-size:14px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:108px;
  width:135px;
  height:37px;
  font-size:14px;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:108px;
  width:203px;
  height:37px;
  font-size:14px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:145px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:145px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:145px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:145px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:181px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:181px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:181px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:181px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:217px;
  width:121px;
  height:36px;
  font-size:14px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:217px;
  width:178px;
  height:36px;
  font-size:14px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:217px;
  width:135px;
  height:36px;
  font-size:14px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:36px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:217px;
  width:203px;
  height:36px;
  font-size:14px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:253px;
  width:136px;
  height:46px;
  font-size:14px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:132px;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:253px;
  width:121px;
  height:46px;
  font-size:14px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:46px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:253px;
  width:178px;
  height:46px;
  font-size:14px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:253px;
  width:135px;
  height:46px;
  font-size:14px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:253px;
  width:203px;
  height:46px;
  font-size:14px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
