body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:4187px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:751px;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:36px;
  width:1280px;
  height:751px;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:36px;
  width:1280px;
  height:65px;
}
#u1476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:43px;
  width:148px;
  height:49px;
}
#u1477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:164px;
  width:817px;
  height:587px;
  color:#FF0000;
}
#u1478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:264px;
  width:43px;
  height:16px;
}
#u1479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:353px;
  width:57px;
  height:16px;
}
#u1480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:39px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:519px;
  width:256px;
  height:39px;
  color:#FFFFFF;
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:346px;
  width:308px;
  height:31px;
}
#u1482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:175px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:2px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:207px;
  width:817px;
  height:1px;
}
#u1484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:264px;
  width:2px;
  height:16px;
}
#u1485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:353px;
  width:2px;
  height:16px;
}
#u1486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D498F;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:178px;
  width:57px;
  height:16px;
  color:#0D498F;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:178px;
  width:22px;
  height:22px;
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:264px;
  width:43px;
  height:16px;
}
#u1489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:2px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:300px;
  width:410px;
  height:1px;
}
#u1490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:392px;
  width:145px;
  height:16px;
  color:#999999;
}
#u1491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0F53A4;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:392px;
  width:57px;
  height:16px;
  color:#0F53A4;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:264px;
  width:18px;
  height:18px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:250px;
  width:79px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:64px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u1495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:2px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:379px;
  width:410px;
  height:1px;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:384px;
  width:102px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
