body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:447px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:447px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:511px;
  width:368px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:546px;
  width:16px;
  height:16px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#00A854;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:751px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:1280px;
  height:751px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:42px;
  width:5px;
  height:16px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:142px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:100px;
  height:5px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:151px;
  width:97px;
  height:2px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:100px;
  height:5px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:150px;
  width:97px;
  height:2px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:108px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:247px;
  width:106px;
  height:108px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:102px;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:255px;
  width:297px;
  height:48px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 83, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:324px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:108px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:247px;
  width:106px;
  height:108px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:102px;
  word-wrap:break-word;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:255px;
  width:297px;
  height:48px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 83, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:324px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:108px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:454px;
  width:106px;
  height:108px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:102px;
  word-wrap:break-word;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:462px;
  width:297px;
  height:48px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 83, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:531px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:108px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:454px;
  width:106px;
  height:108px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:102px;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:462px;
  width:297px;
  height:48px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 83, 164, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:531px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:228px;
  width:446px;
  height:156px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:65px;
  background:inherit;
  background-color:rgba(15, 83, 164, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:20px;
  width:1280px;
  height:65px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:49px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:43px;
  width:33px;
  height:33px;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:27px;
  width:148px;
  height:49px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:51px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:325px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:247px;
  width:1px;
  height:324px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
